body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    color: #FAF6F0;
    background-color: #860A35;
    padding: 40px;
    margin-top: 30px;
}

header p {
    margin: -10px;
    font-size: x-small;
    color: #000000;
    margin-bottom: 20px;
}

.inputSection {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#squareSide {
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: solid #860A35;
    padding: 10px;
}

#squareSide:focus {
    border: solid #860A35;
}

.inputSectionk {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#squareSidek {
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: solid #860A35;
    padding: 10px;
}

#squareSidek:focus {
    border: solid #860A35;
}

button {
    background-color: #AF2655;
    color: #FAF6F0;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #860A35;;
}

button:active {
    background-color: #860A35;
    transform: translateY(2px);
}

.buttons2 {
    display: flex;
    flex-direction: column;
}